<!DOCTYPE html>
<html>

<head>
  <title>Education Hub</title>
  <link rel="stylesheet" type="text/css" href="../input.css">
  <style>
  </style>
</head>

<body>
  <div class="container">
    <h2>Welcome to Education Hub</h2>
    <p>A place where you can learn and grow.</p>

    <a href='/login'">
      <button class=" btn">Login</button>
    </a>
    <button class=" btn" href='/register'">Register</button>
  </div>
</body>

</html>